article {
  &.noto-kufi-arabic {
    font-family: "Noto Kufi Arabic", sans-serif;
  }
  &.rubik {
    font-family: "Rubik", sans-serif;
  }
  &.cairo {
    font-family: "Cairo", sans-serif;
  }
  &.sans {
    font-family: "Almarai", sans-serif;
  }
  &.zain {
    font-family: "Zain", sans-serif;
  }
}

body[host="kolnovel"] {
  div:has(.adblock_title),
  div.code-block.code-block-31,
  .wpcp-error-message {
    display: none;
  }
}
