@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Noto+Kufi+Arabic:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");

.noto-kufi-arabic {
  font-family: "Noto Kufi Arabic", sans-serif;
}
.rubik {
  font-family: "Rubik", sans-serif;
}
.cairo {
  font-family: "Cairo", sans-serif;
}
.sans {
  font-family: "Almarai", sans-serif;
}
.zain {
  font-family: "Zain", sans-serif;
}

body {
  &[host="kolnovel"] {
    div:has(.adblock_title),
    div.code-block.code-block-31,
    .wpcp-error-message {
      display: none;
    }
    &[page="page"] {
      .sertoinfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }
  &[host="cenel"] {
    div:has(.adblock_title):not(.wrap) {
      display: none;
    }
  }
}
